body {
    padding: 0;
    margin: 0;
}

@font-face {
    src: url(../assets/fonts/Roboto-Regular.ttf);
    font-family: rbt;
}

@font-face {
    src: url(../assets/fonts/Montserrat-Regular.otf);
    font-family: ms;
}

:root {
    --color-1: #4A148C;
}

* {
    font-family: rbt;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

#title {
    font-family: ms;
}